* {
    font-family: 'Roboto', sans-serif;
    /* box-sizing: border-box; */
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/background.jfif);
    background-size: 100%;
    background-size: cover;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 20fr 1fr;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1;
}

.checkers-container-full {
    grid-row: 2;
    /* display: grid;
    grid-template-columns: 1fr 5fr 1fr; */
    display: flex;
    justify-content: center;
    align-items:center;
}

.checkers-padding-left,.checkers-padding-right {  
    grid-column: 1;
}

.checkers-padding-right {
    grid-column: 3;
}

.checkers-container-empty {
    /* background-image: url(./assets/Empty_checkers.jpg);
    background-size: 100%;
    background-size: cover; */
    grid-row: 2;
}



.Chess__Board {
    width: 90vh;
    height: 90vh;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty {
    visibility: hidden;
}

.circle {
    height: 60%;
    width: 60%;
    border-radius: 50%;    
}

.endGameMessage{
    font-size: 20rem;
}

.queen {
    border: 5px solid rgb(153, 19, 153);
}

.white {
    background-color: white;
}

.white-smoke{
    background-color: whitesmoke;
}

.black {
    background-color: black;
}

.brown{
    background-color: burlywood;
}
.highlight {
    z-index: 1;
    box-shadow: 0 0 5px 5px teal;
}

button {
    height: 100%;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    color: white;
    background-color: black;
}

button:disabled{
    visibility: hidden;
}